n8n_workflows/workflow-suporte-formulario-chatwoot
{
  "name": "Nome Magnético - Suporte: Formulário → Chatwoot + Lead + Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "suport-formulario-nm",
        "options": {}
      },
      "id": "wh-suporte",
      "name": "Webhook Formulário",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-900, 300],
      "webhookId": "suport-formulario-nm"
    },
    {
      "parameters": {
        "jsCode": "// Normaliza dados do formulário, mapeia labels e prepara conteúdos\nconst body = $json.body || $json;\n\nconst nome     = body.nome     || body.email?.split('@')[0] || 'Usuário';\nconst email    = body.email    || '';\nconst assunto  = body.assunto  || 'Outros';\nconst mensagem = body.mensagem || '';\nconst origem   = body.origem   || 'publico';\nconst userId   = body.user_id  || null;\nconst ts       = body.timestamp || new Date().toISOString();\n\nconst labelMap = {\n  'Dúvida sobre os planos':       'planos',\n  'Como funciona a numerologia':  'numerologia',\n  'Informações gerais':           'geral',\n  'Parceria ou imprensa':         'parceria',\n  'Outros':                       'outros',\n  'Bug':                          'bug',\n  'Sugestão':                     'sugestao',\n  'Primeiros Passos':             'primeiros-passos',\n  'Assinatura e Planos':          'assinatura',\n  'Conta e Segurança':            'conta',\n  'Solução de Problemas':         'suporte',\n};\n\nconst assuntoLabel = labelMap[assunto] || 'outros';\nconst origemLabel  = origem === 'app' ? 'usuario-app' : 'site-publico';\n\nconst dataHora = new Date(ts).toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' });\nconst mensagemChatwoot = [\n  `📋 *Assunto:* ${assunto}`,\n  `🌐 *Origem:* ${origem === 'app' ? 'Área do cliente' : 'Site público'}`,\n  userId ? `👤 *User ID:* ${userId}` : null,\n  `📅 *Enviado em:* ${dataHora}`,\n  ``,\n  mensagem\n].filter(Boolean).join('\\n');\n\nconst mensagemPreview = mensagem.length > 220\n  ? mensagem.slice(0, 220).trimEnd() + '...'\n  : mensagem;\n\nconst emailHtml = `<!DOCTYPE html><html lang='pt-BR'><head><meta charset='UTF-8'><meta name='viewport' content='width=device-width,initial-scale=1.0'></head><body style='margin:0;padding:0;background:#f5f5f0;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;'><table width='100%' cellpadding='0' cellspacing='0' style='background:#f5f5f0;padding:48px 0;'><tr><td align='center'><table width='560' cellpadding='0' cellspacing='0' style='background:#ffffff;border-radius:12px;overflow:hidden;'><tr><td style='background:#1a1a1a;padding:32px 40px;text-align:center;'><p style='margin:0;font-family:Georgia,serif;color:#D4AF37;font-size:22px;letter-spacing:3px;font-weight:400;text-transform:uppercase;'>Nome Magn\u00e9tico</p><p style='margin:8px 0 0;color:#a0a0a0;font-size:11px;letter-spacing:2px;text-transform:uppercase;'>Numerologia Cabal\u00edstica</p></td></tr><tr><td style='padding:40px 40px 28px;'><p style='margin:0 0 20px;color:#111;font-size:17px;font-weight:500;'>Ol\u00e1, ${nome}!</p><p style='margin:0 0 24px;color:#444;font-size:15px;line-height:1.7;'>Recebemos sua mensagem e nossa equipe j\u00e1 foi notificada. Faremos o poss\u00edvel para responder o mais breve poss\u00edvel \u2014 geralmente em at\u00e9 1 dia \u00fatil.</p><table width='100%' cellpadding='0' cellspacing='0' style='background:#faf8f2;border-left:4px solid #D4AF37;border-radius:0 6px 6px 0;margin-bottom:28px;'><tr><td style='padding:18px 22px;'><p style='margin:0 0 4px;color:#999;font-size:11px;text-transform:uppercase;letter-spacing:1px;'>Assunto</p><p style='margin:0 0 14px;color:#222;font-size:14px;font-weight:600;'>${assunto}</p><p style='margin:0 0 4px;color:#999;font-size:11px;text-transform:uppercase;letter-spacing:1px;'>Sua mensagem</p><p style='margin:0;color:#555;font-size:14px;line-height:1.6;'>${mensagemPreview}</p></td></tr></table><p style='margin:0;color:#666;font-size:14px;line-height:1.7;'>Caso queira acrescentar alguma informa\u00e7\u00e3o, basta responder diretamente a este email.</p></td></tr><tr><td style='padding:0 40px;'><hr style='border:none;border-top:1px solid #eee;margin:0;'></td></tr><tr><td style='padding:24px 40px 40px;'><p style='margin:0 0 2px;color:#222;font-size:14px;font-weight:600;'>Equipe Nome Magn\u00e9tico</p><p style='margin:0;color:#999;font-size:13px;'>suporte@nomemagnetico.com.br</p></td></tr></table><table width='560' cellpadding='0' cellspacing='0'><tr><td style='padding:20px 0;text-align:center;'><p style='margin:0;color:#aaa;font-size:12px;'>\u00a9 2025 Nome Magn\u00e9tico \u00b7 Todos os direitos reservados</p></td></tr></table></td></tr></table></body></html>`;\n\nreturn [{\n  json: {\n    nome, email, assunto, mensagem, mensagemPreview,\n    mensagemChatwoot, origem, userId,\n    labels: [assuntoLabel, origemLabel],\n    emailHtml\n  }\n}];"
      },
      "id": "code-preparar",
      "name": "Preparar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-660, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "profiles",
        "returnAll": false,
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "sup-buscar-perfil",
      "name": "Buscar Perfil",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-420, 120],
      "continueOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "Q8FUTrO3QSkHxr8B",
          "name": "Supabase Cloude - Nome Magnético"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lê resultado do node 'Buscar Perfil' e normaliza para 1 item\n// Recebe 1 item de 'Preparar Dados' (conexão paralela) — nunca recebe 0 itens\n// Acessa resultado do Supabase via expressão $('Buscar Perfil').all()\nconst dadosForm = $input.item.json;\nconst perfis = $('Buscar Perfil').all();\nconst profile = perfis.length > 0 && !perfis[0].json.error ? perfis[0].json : null;\n\nreturn [{\n  json: {\n    ...dadosForm,\n    profileFound: !!profile,\n    profileId: profile?.id || null\n  }\n}];"
      },
      "id": "code-verificar-perfil",
      "name": "Verificar Perfil",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.profileFound }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-tem-perfil",
      "name": "Tem Perfil?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-180, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "subscriptions",
        "returnAll": false,
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.profileId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "sup-buscar-assinatura",
      "name": "Buscar Assinatura",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [60, 120],
      "continueOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "Q8FUTrO3QSkHxr8B",
          "name": "Supabase Cloude - Nome Magnético"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lê resultado de 'Buscar Assinatura' e define label nm-vip ou nm-usuario\n// Recebe 1 item de IF TRUE — nunca 0 itens\n// Acessa subscriptions via $('Buscar Assinatura').all()\nconst dados = $input.item.json;\nconst assinaturas = $('Buscar Assinatura').all();\nconst temAtivo = assinaturas.length > 0 &&\n  !assinaturas[0].json.error &&\n  assinaturas.some(s => s.json.is_active === true);\n\nconst tipoUsuario  = temAtivo ? 'vip'      : 'usuario';\nconst labelUsuario = temAtivo ? 'nm-vip'   : 'nm-usuario';\nconst labelsComStatus = [...(dados.labels || []), labelUsuario];\n\nreturn [{\n  json: {\n    ...dados,\n    tipoUsuario,\n    labelUsuario,\n    labels: labelsComStatus\n  }\n}];"
      },
      "id": "code-definir-label",
      "name": "Definir Label",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [60, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "email",   "fieldValue": "={{ $json.email }}" },
            { "fieldId": "nome",    "fieldValue": "={{ $json.nome }}" },
            { "fieldId": "assunto", "fieldValue": "={{ $json.assunto }}" },
            { "fieldId": "origem",  "fieldValue": "={{ $json.origem }}" }
          ]
        }
      },
      "id": "sup-salvar-lead",
      "name": "Salvar Lead",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [60, 480],
      "continueOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "Q8FUTrO3QSkHxr8B",
          "name": "Supabase Cloude - Nome Magnético"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepara dados do visitante após salvar lead\n// O Supabase Create retorna o registro criado — recupera dados do formulário via expressão\nconst dadosForm = $('Preparar Dados').item.json;\nconst labelUsuario = 'nm-visitante';\nconst labelsComStatus = [...(dadosForm.labels || []), labelUsuario];\n\nreturn [{\n  json: {\n    ...dadosForm,\n    tipoUsuario: 'visitante',\n    labelUsuario,\n    labels: labelsComStatus\n  }\n}];"
      },
      "id": "code-dados-visitante",
      "name": "Dados Visitante",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 480]
    },
    {
      "parameters": {
        "jsCode": "// Busca contato no Chatwoot por email; cria se não existir\n// Recebe dados completos de 'Definir Label' (usuário/vip) ou 'Dados Visitante'\nconst dados = $input.item.json;\n\nconst BASE  = 'https://suporte.studiomlk.com.br/api/v1/accounts/1';\nconst TOKEN = '8FsqBLpvNJhZZ73XXiad2XvK';\nconst headers = {\n  'api_access_token': TOKEN,\n  'Content-Type': 'application/json'\n};\n\nconst searchRes  = await fetch(\n  `${BASE}/contacts/search?q=${encodeURIComponent(dados.email)}&include_contacts=true`,\n  { headers }\n);\nconst searchData = await searchRes.json();\n\nconst contacts = searchData.payload?.contacts ?? [];\nconst match    = contacts.find(c => c.email === dados.email);\n\nlet contactId;\nif (match) {\n  contactId = match.id;\n} else {\n  const createRes  = await fetch(`${BASE}/contacts`, {\n    method: 'POST',\n    headers,\n    body: JSON.stringify({ name: dados.nome, email: dados.email })\n  });\n  const createData = await createRes.json();\n  contactId = createData.id;\n}\n\nreturn [{ json: { ...dados, contact_id: contactId, inbox_id: 2 } }];"
      },
      "id": "code-contato",
      "name": "Buscar ou Criar Contato",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://suporte.studiomlk.com.br/api/v1/accounts/1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api_access_token", "value": "8FsqBLpvNJhZZ73XXiad2XvK" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inbox_id\": {{ $json.inbox_id }},\n  \"contact_id\": {{ $json.contact_id }},\n  \"additional_attributes\": {\n    \"assunto\": {{ JSON.stringify($json.assunto) }},\n    \"origem\": {{ JSON.stringify($json.origem) }},\n    \"tipo_usuario\": {{ JSON.stringify($json.tipoUsuario) }}\n  }\n}",
        "options": {}
      },
      "id": "http-conversa",
      "name": "Criar Conversa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [540, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://suporte.studiomlk.com.br/api/v1/accounts/1/conversations/{{ $json.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api_access_token", "value": "8FsqBLpvNJhZZ73XXiad2XvK" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($node[\"Buscar ou Criar Contato\"].json.mensagemChatwoot) }},\n  \"message_type\": \"incoming\",\n  \"private\": false\n}",
        "options": {}
      },
      "id": "http-mensagem",
      "name": "Enviar Mensagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [780, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://suporte.studiomlk.com.br/api/v1/accounts/1/conversations/{{ $node[\"Criar Conversa\"].json.id }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api_access_token", "value": "8FsqBLpvNJhZZ73XXiad2XvK" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"labels\": {{ JSON.stringify($node[\"Buscar ou Criar Contato\"].json.labels) }}\n}",
        "options": {}
      },
      "id": "http-labels",
      "name": "Adicionar Labels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1020, 300]
    },
    {
      "parameters": {
        "fromEmail": "suporte@nomemagnetico.com.br",
        "toEmail": "={{ $node[\"Preparar Dados\"].json.email }}",
        "subject": "=Recebemos sua solicitação — Nome Magnético",
        "emailType": "html",
        "message": "={{ $node[\"Preparar Dados\"].json.emailHtml }}",
        "options": {}
      },
      "id": "email-confirmacao",
      "name": "Email de Confirmação",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1260, 300],
      "credentials": {
        "smtp": {
          "id": "",
          "name": "Amazon SES — Nome Magnético"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Formulário": {
      "main": [[{ "node": "Preparar Dados", "type": "main", "index": 0 }]]
    },
    "Preparar Dados": {
      "main": [
        [
          { "node": "Buscar Perfil",    "type": "main", "index": 0 },
          { "node": "Verificar Perfil", "type": "main", "index": 0 }
        ]
      ]
    },
    "Verificar Perfil": {
      "main": [[{ "node": "Tem Perfil?", "type": "main", "index": 0 }]]
    },
    "Tem Perfil?": {
      "main": [
        [
          { "node": "Buscar Assinatura", "type": "main", "index": 0 },
          { "node": "Definir Label",     "type": "main", "index": 0 }
        ],
        [
          { "node": "Salvar Lead", "type": "main", "index": 0 }
        ]
      ]
    },
    "Definir Label": {
      "main": [[{ "node": "Buscar ou Criar Contato", "type": "main", "index": 0 }]]
    },
    "Salvar Lead": {
      "main": [[{ "node": "Dados Visitante", "type": "main", "index": 0 }]]
    },
    "Dados Visitante": {
      "main": [[{ "node": "Buscar ou Criar Contato", "type": "main", "index": 0 }]]
    },
    "Buscar ou Criar Contato": {
      "main": [[{ "node": "Criar Conversa", "type": "main", "index": 0 }]]
    },
    "Criar Conversa": {
      "main": [[{ "node": "Enviar Mensagem", "type": "main", "index": 0 }]]
    },
    "Enviar Mensagem": {
      "main": [[{ "node": "Adicionar Labels", "type": "main", "index": 0 }]]
    },
    "Adicionar Labels": {
      "main": [[{ "node": "Email de Confirmação", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "",
  "tags": []
}
