n8n_workflows/workflow-suporte-nm.json
{
    "name": "Nome Magnetico - Suporte: Notificacoes + IA Polish via SES",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "suport-nm",
                "options": {}
            },
            "id": "a1b2c3d4-e5f6-7890-ab12-cd3456789001",
            "name": "Webhook Suporte NM",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [-240, 300],
            "webhookId": "suport-nm"
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.event }}",
                "rules": {
                    "rules": [
                        { "value2": "support.ticket_created", "output": 0 },
                        { "value2": "support.ticket_reply",   "output": 1 },
                        { "value2": "support.ticket_resolved","output": 2 }
                    ]
                }
            },
            "id": "a1b2c3d4-e5f6-7890-ab12-cd3456789002",
            "name": "Roteador de Eventos",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [0, 300]
        },
        {
            "parameters": {
                "jsCode": "// TICKET CRIADO: confirmacao de recebimento\nvar p = $json.payload || {};\nvar nome = (p.nome || p.firstName || 'Cliente').split(' ')[0];\nvar assunto = p.assunto || p.ticketSubject || 'sua solicitacao';\nvar email = p.email || '';\n\nvar sig = '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top:32px;border-top:1px solid #e8e8e8;padding-top:20px;\"><tr><td><div style=\"font-family:Georgia,serif;font-size:15px;font-weight:700;color:#b8942a;letter-spacing:2px;\">NOME MAGNETICO</div><div style=\"font-size:10px;color:#aaa;letter-spacing:2px;margin-top:2px;text-transform:uppercase;\">Numerologia Cabalistica</div><div style=\"margin-top:8px;font-size:12px;color:#888;\"><a href=\"https://nomemagnetico.com.br\" style=\"color:#b8942a;text-decoration:none;\">nomemagnetico.com.br</a> &nbsp;·&nbsp; <a href=\"mailto:suporte@studiomlk.com.br\" style=\"color:#888;text-decoration:none;\">suporte@studiomlk.com.br</a></div></td></tr></table>';\n\nvar html = '<!DOCTYPE html><html lang=\"pt-BR\"><head><meta charset=\"UTF-8\"/></head><body style=\"margin:0;padding:0;background:#f0f0f0;font-family:Arial,Helvetica,sans-serif;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f0f0f0;padding:40px 16px;\"><tr><td align=\"center\"><table width=\"560\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:560px;background:#ffffff;border-radius:8px;overflow:hidden;box-shadow:0 1px 4px rgba(0,0,0,0.08);\"><tr><td style=\"padding:32px 36px;\">'\n  + '<p style=\"margin:0 0 20px;font-size:16px;color:#333;line-height:1.6;\">Ola, <strong>' + nome + '</strong>!</p>'\n  + '<p style=\"margin:0 0 16px;font-size:15px;color:#555;line-height:1.7;\">Recebemos sua mensagem e nossa equipe ira respondê-la em breve.</p>'\n  + '<table width=\"100%\" cellpadding=\"12\" cellspacing=\"0\" style=\"background:#fafafa;border:1px solid #eee;border-radius:6px;margin-bottom:20px;\"><tr><td style=\"font-size:11px;color:#aaa;text-transform:uppercase;letter-spacing:1px;padding-bottom:4px;\">Assunto</td></tr><tr><td style=\"font-size:14px;font-weight:600;color:#333;\">' + assunto + '</td></tr></table>'\n  + '<p style=\"margin:0 0 24px;font-size:14px;color:#888;line-height:1.7;\">Voce recebera uma resposta neste e-mail em ate <strong style=\"color:#555;\">24 horas uteis</strong>.</p>'\n  + sig\n  + '</td></tr></table><p style=\"margin:20px 0 0;font-size:11px;color:#bbb;\">2026 Nome Magnetico - Studio MLK</p></td></tr></table></body></html>';\n\nreturn [{ json: { to: email, subject: 'Recebemos sua mensagem - Nome Magnetico', html: html } }];"
            },
            "id": "a1b2c3d4-e5f6-7890-ab12-cd3456789003",
            "name": "Build Confirmacao Email",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [280, 80]
        },
        {
            "parameters": {
                "fromEmail": "suporte@studiomlk.com.br",
                "toEmail": "={{ $json.to }}",
                "subject": "={{ $json.subject }}",
                "emailType": "html",
                "message": "={{ $json.html }}"
            },
            "id": "a1b2c3d4-e5f6-7890-ab12-cd3456789004",
            "name": "Enviar Confirmacao",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2,
            "position": [560, 80],
            "credentials": {
                "smtp": {
                    "id": "SES_CREDENTIAL_ID",
                    "name": "Amazon SES - suporte@studiomlk.com.br"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// TICKET REPLY: prepara para IA polish\nvar p = $json.payload || {};\nvar nome = (p.nome || p.firstName || 'Cliente').split(' ')[0];\nvar assunto = p.assunto || p.ticketSubject || 'Suporte';\nvar toEmail = p.email || '';\nvar mensagem = p.mensagem || '';\n\nreturn [{ json: { toEmail: toEmail, nome: nome, assunto: assunto, mensagemOriginal: mensagem } }];"
            },
            "id": "a1b2c3d4-e5f6-7890-ab12-cd3456789005",
            "name": "Preparar Polish",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [280, 300]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.APP_URL }}/api/internal/ai-polish",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        { "name": "X-Internal-Secret", "value": "={{ $env.INTERNAL_API_SECRET }}" },
                        { "name": "Content-Type",       "value": "application/json" }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"mensagem\": {{ JSON.stringify($json.mensagemOriginal) }},\n  \"nomeCliente\": {{ JSON.stringify($json.nome) }}\n}",
                "options": {
                    "timeout": 30000
                }
            },
            "id": "a1b2c3d4-e5f6-7890-ab12-cd3456789006",
            "name": "IA Polish - Polir Texto",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [560, 300]
        },
        {
            "parameters": {
                "jsCode": "// Extrai texto polido e monta email de resposta\nvar resp = $json;\nvar prev = $('Preparar Polish').first().json;\n\nvar textoPolido = (resp.polished || prev.mensagemOriginal || '').toString();\nvar nome    = prev.nome    || 'Cliente';\nvar assunto = prev.assunto || 'Suporte';\nvar email   = prev.toEmail || '';\n\nvar textoHtml = textoPolido\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\\n/g, '<br/>');\n\nvar sig = '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top:32px;border-top:1px solid #e8e8e8;padding-top:20px;\"><tr><td><div style=\"font-family:Georgia,serif;font-size:15px;font-weight:700;color:#b8942a;letter-spacing:2px;\">NOME MAGNETICO</div><div style=\"font-size:10px;color:#aaa;letter-spacing:2px;margin-top:2px;text-transform:uppercase;\">Numerologia Cabalistica</div><div style=\"margin-top:8px;font-size:12px;color:#888;\"><a href=\"https://nomemagnetico.com.br\" style=\"color:#b8942a;text-decoration:none;\">nomemagnetico.com.br</a> &nbsp;·&nbsp; <a href=\"mailto:suporte@studiomlk.com.br\" style=\"color:#888;text-decoration:none;\">suporte@studiomlk.com.br</a></div></td></tr></table>';\n\nvar html = '<!DOCTYPE html><html lang=\"pt-BR\"><head><meta charset=\"UTF-8\"/></head><body style=\"margin:0;padding:0;background:#f0f0f0;font-family:Arial,Helvetica,sans-serif;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f0f0f0;padding:40px 16px;\"><tr><td align=\"center\"><table width=\"560\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:560px;background:#ffffff;border-radius:8px;overflow:hidden;box-shadow:0 1px 4px rgba(0,0,0,0.08);\"><tr><td style=\"padding:32px 36px;\">'\n  + '<div style=\"font-size:15px;color:#333;line-height:1.8;\">' + textoHtml + '</div>'\n  + '<p style=\"margin:24px 0 8px;font-size:13px;color:#aaa;\">Em caso de duvidas, <a href=\"https://nomemagnetico.com.br/app/suporte\" style=\"color:#b8942a;text-decoration:none;\">abra um novo ticket</a>.</p>'\n  + sig\n  + '</td></tr></table><p style=\"margin:20px 0 0;font-size:11px;color:#bbb;\">2026 Nome Magnetico - Studio MLK</p></td></tr></table></body></html>';\n\nreturn [{ json: { to: email, subject: 'Re: ' + assunto + ' - Nome Magnetico', html: html } }];"
            },
            "id": "a1b2c3d4-e5f6-7890-ab12-cd3456789007",
            "name": "Build Email Resposta",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [840, 300]
        },
        {
            "parameters": {
                "fromEmail": "suporte@studiomlk.com.br",
                "toEmail": "={{ $json.to }}",
                "subject": "={{ $json.subject }}",
                "emailType": "html",
                "message": "={{ $json.html }}"
            },
            "id": "a1b2c3d4-e5f6-7890-ab12-cd3456789008",
            "name": "Enviar Resposta",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2,
            "position": [1120, 300],
            "credentials": {
                "smtp": {
                    "id": "SES_CREDENTIAL_ID",
                    "name": "Amazon SES - suporte@studiomlk.com.br"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// TICKET RESOLVIDO: notificacao\nvar p = $json.payload || {};\nvar nome = (p.nome || p.firstName || 'Cliente').split(' ')[0];\nvar assunto = p.assunto || p.ticketSubject || 'Suporte';\nvar email = p.email || '';\n\nvar sig = '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top:32px;border-top:1px solid #e8e8e8;padding-top:20px;\"><tr><td><div style=\"font-family:Georgia,serif;font-size:15px;font-weight:700;color:#b8942a;letter-spacing:2px;\">NOME MAGNETICO</div><div style=\"font-size:10px;color:#aaa;letter-spacing:2px;margin-top:2px;text-transform:uppercase;\">Numerologia Cabalistica</div><div style=\"margin-top:8px;font-size:12px;color:#888;\"><a href=\"https://nomemagnetico.com.br\" style=\"color:#b8942a;text-decoration:none;\">nomemagnetico.com.br</a> &nbsp;·&nbsp; <a href=\"mailto:suporte@studiomlk.com.br\" style=\"color:#888;text-decoration:none;\">suporte@studiomlk.com.br</a></div></td></tr></table>';\n\nvar html = '<!DOCTYPE html><html lang=\"pt-BR\"><head><meta charset=\"UTF-8\"/></head><body style=\"margin:0;padding:0;background:#f0f0f0;font-family:Arial,Helvetica,sans-serif;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f0f0f0;padding:40px 16px;\"><tr><td align=\"center\"><table width=\"560\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:560px;background:#ffffff;border-radius:8px;overflow:hidden;box-shadow:0 1px 4px rgba(0,0,0,0.08);\"><tr><td style=\"padding:32px 36px;\">'\n  + '<p style=\"margin:0 0 20px;font-size:16px;color:#333;line-height:1.6;\">Ola, <strong>' + nome + '</strong>!</p>'\n  + '<p style=\"margin:0 0 16px;font-size:15px;color:#555;line-height:1.7;\">Seu ticket de suporte foi marcado como <strong>resolvido</strong> pela nossa equipe.</p>'\n  + '<table width=\"100%\" cellpadding=\"12\" cellspacing=\"0\" style=\"background:#fafafa;border:1px solid #eee;border-radius:6px;margin-bottom:20px;\"><tr><td style=\"font-size:11px;color:#aaa;text-transform:uppercase;letter-spacing:1px;padding-bottom:4px;\">Assunto</td></tr><tr><td style=\"font-size:14px;font-weight:600;color:#333;\">' + assunto + '</td></tr></table>'\n  + '<p style=\"margin:0 0 24px;font-size:14px;color:#888;line-height:1.7;\">Se o problema persistir, <a href=\"https://nomemagnetico.com.br/app/suporte\" style=\"color:#b8942a;text-decoration:none;\">abra um novo ticket</a>. Ficamos felizes em ajudar.</p>'\n  + sig\n  + '</td></tr></table><p style=\"margin:20px 0 0;font-size:11px;color:#bbb;\">2026 Nome Magnetico - Studio MLK</p></td></tr></table></body></html>';\n\nreturn [{ json: { to: email, subject: 'Ticket resolvido: ' + assunto, html: html } }];"
            },
            "id": "a1b2c3d4-e5f6-7890-ab12-cd3456789009",
            "name": "Build Email Resolvido",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [280, 520]
        },
        {
            "parameters": {
                "fromEmail": "suporte@studiomlk.com.br",
                "toEmail": "={{ $json.to }}",
                "subject": "={{ $json.subject }}",
                "emailType": "html",
                "message": "={{ $json.html }}"
            },
            "id": "a1b2c3d4-e5f6-7890-ab12-cd3456789010",
            "name": "Enviar Resolvido",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2,
            "position": [560, 520],
            "credentials": {
                "smtp": {
                    "id": "SES_CREDENTIAL_ID",
                    "name": "Amazon SES - suporte@studiomlk.com.br"
                }
            }
        }
    ],
    "connections": {
        "Webhook Suporte NM": {
            "main": [[
                { "node": "Roteador de Eventos", "type": "main", "index": 0 }
            ]]
        },
        "Roteador de Eventos": {
            "main": [
                [{ "node": "Build Confirmacao Email", "type": "main", "index": 0 }],
                [{ "node": "Preparar Polish",          "type": "main", "index": 0 }],
                [{ "node": "Build Email Resolvido",    "type": "main", "index": 0 }]
            ]
        },
        "Build Confirmacao Email": {
            "main": [[{ "node": "Enviar Confirmacao", "type": "main", "index": 0 }]]
        },
        "Preparar Polish": {
            "main": [[{ "node": "IA Polish - Polir Texto", "type": "main", "index": 0 }]]
        },
        "IA Polish - Polir Texto": {
            "main": [[{ "node": "Build Email Resposta", "type": "main", "index": 0 }]]
        },
        "Build Email Resposta": {
            "main": [[{ "node": "Enviar Resposta", "type": "main", "index": 0 }]]
        },
        "Build Email Resolvido": {
            "main": [[{ "node": "Enviar Resolvido", "type": "main", "index": 0 }]]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false
    },
    "versionId": "a1b2c3d4-e5f6-7890-ab12-cd3456789000",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "23eff0a49bd119e4a18afa8c0c7575eefe279312d40ead3f0f9b4dd1a181437f"
    },
    "id": "suporte-nm-notificacoes-v1",
    "tags": []
}
