n8n_workflows/workflow-sync-suporte-mensagens-chatwoot
{
    "name": "Nome Magnético - Sync Suporte Mensagens Supabase -> Chatwoot",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "sync-suporte-mensagens",
                "options": {}
            },
            "id": "m1a2b3c4-d5e6-7890-abcd-ef1234560001",
            "name": "Webhook (Supabase)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [-240, 300],
            "webhookId": "sync-suporte-mensagens"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.body.record.is_admin }}",
                            "value2": false
                        }
                    ],
                    "string": [
                        {
                            "value1": "={{ $json.body.record.content }}",
                            "operation": "isNotEmpty"
                        },
                        {
                            "value1": "={{ $json.body.type }}",
                            "operation": "equal",
                            "value2": "INSERT"
                        }
                    ]
                },
                "combineOperation": "all"
            },
            "id": "m1a2b3c4-d5e6-7890-abcd-ef1234560002",
            "name": "É Mensagem do Usuário?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [0, 300]
        },
        {
            "parameters": {
                "resume": "timeInterval",
                "amount": 8,
                "unit": "seconds"
            },
            "id": "m1a2b3c4-d5e6-7890-abcd-ef1234560003",
            "name": "Aguardar Conversa ser Criada",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [256, 220]
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "support_tickets",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "condition": "eq",
                            "keyValue": "={{ $node['Webhook (Supabase)'].json.body.record.ticket_id }}"
                        }
                    ]
                },
                "limit": 1
            },
            "id": "m1a2b3c4-d5e6-7890-abcd-ef1234560004",
            "name": "Buscar Ticket",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [512, 220],
            "credentials": {
                "supabaseApi": {
                    "id": "Q8FUTrO3QSkHxr8B",
                    "name": "Supabase Cloude - Nome Magnético"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ Number($json.chatwoot_conversation_id) }}",
                            "operation": "larger",
                            "value2": 0
                        }
                    ]
                }
            },
            "id": "m1a2b3c4-d5e6-7890-abcd-ef1234560005",
            "name": "Tem Conversa no Chatwoot?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [768, 220]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://suporte.studiomlk.com.br/api/v1/accounts/1/conversations/{{ $json.chatwoot_conversation_id }}/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        { "name": "api_access_token", "value": "8FsqBLpvNJhZZ73XXiad2XvK" },
                        { "name": "Content-Type", "value": "application/json" }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"content\": {{ JSON.stringify($node['Webhook (Supabase)'].json.body.record.content) }},\n  \"message_type\": \"incoming\",\n  \"private\": false\n}",
                "options": {}
            },
            "id": "m1a2b3c4-d5e6-7890-abcd-ef1234560006",
            "name": "Postar Mensagem no Chatwoot",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [1024, 220]
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook (Supabase)": {
            "main": [[{ "node": "É Mensagem do Usuário?", "type": "main", "index": 0 }]]
        },
        "É Mensagem do Usuário?": {
            "main": [
                [{ "node": "Aguardar Conversa ser Criada", "type": "main", "index": 0 }],
                []
            ]
        },
        "Aguardar Conversa ser Criada": {
            "main": [[{ "node": "Buscar Ticket", "type": "main", "index": 0 }]]
        },
        "Buscar Ticket": {
            "main": [[{ "node": "Tem Conversa no Chatwoot?", "type": "main", "index": 0 }]]
        },
        "Tem Conversa no Chatwoot?": {
            "main": [
                [{ "node": "Postar Mensagem no Chatwoot", "type": "main", "index": 0 }],
                []
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false
    },
    "versionId": "3de95a17-f82b-4c63-a941-07be1c492811",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "23eff0a49bd119e4a18afa8c0c7575eefe279312d40ead3f0f9b4dd1a181437f"
    },
    "id": "suporte-mensagens-sync-v1",
    "tags": []
}
