n8n_workflows/workflow-sync-help-center-chatwoot
{
  "name": "Nome Magnético - Sync FAQs Supabase -> Chatwoot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sync-faq",
        "options": {}
      },
      "id": "2506efb1-e1a0-4bfe-996d-6ebe47e52c42",
      "name": "Webhook (Supabase)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-496, 192],
      "webhookId": "sync-faq-chatwoot"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.type }}",
        "rules": {
          "rules": [
            { "value2": "INSERT" },
            { "value2": "UPDATE", "output": 1 },
            { "value2": "DELETE", "output": 2 }
          ]
        }
      },
      "id": "b18a905f-9702-425a-a74b-907776843e82",
      "name": "Tipo de Evento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [-240, 160]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "faq_categories",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.record.category_id }}"
            }
          ]
        }
      },
      "id": "b4b61e4b-410a-47cd-a6e9-743926ad0864",
      "name": "Buscar Categoria (INSERT)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [0, -48],
      "credentials": {
        "supabaseApi": {
          "id": "Q8FUTrO3QSkHxr8B",
          "name": "Supabase Cloude - Nome Magnético"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://suporte.studiomlk.com.br/api/v1/accounts/1/portals/nome-magnetico/articles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "8FsqBLpvNJhZZ73XXiad2XvK"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": {{ JSON.stringify($node[\"Webhook (Supabase)\"].json.body.record.question) }},\n  \"content\": {{ JSON.stringify($node[\"Webhook (Supabase)\"].json.body.record.answer_markdown) }},\n  \"category_id\": {{ Number($json.chatwoot_category_id) || null }},\n  \"author_id\": 1,\n  \"status\": \"published\",\n  \"meta\": {\n    \"title\": {{ JSON.stringify($node[\"Webhook (Supabase)\"].json.body.record.meta_title || $node[\"Webhook (Supabase)\"].json.body.record.question) }},\n    \"description\": {{ JSON.stringify($node[\"Webhook (Supabase)\"].json.body.record.meta_description || '') }},\n    \"tags\": {{ JSON.stringify($node[\"Webhook (Supabase)\"].json.body.record.meta_tags || []) }}\n  }\n}",
        "options": {}
      },
      "id": "fb9b6365-d668-4362-b357-73ddbcc820a8",
      "name": "Criar Artigo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [240, 0]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "faq_items",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $node[\"Webhook (Supabase)\"].json.body.record.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chatwoot_article_id",
              "fieldValue": "={{ $json.payload.id }}"
            }
          ]
        }
      },
      "id": "304d132b-4b86-4d0e-a6cc-74314a5e8db3",
      "name": "Salvar ID Chatwoot",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [480, 0],
      "credentials": {
        "supabaseApi": {
          "id": "Q8FUTrO3QSkHxr8B",
          "name": "Supabase Cloude - Nome Magnético"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "faq_categories",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.record.category_id }}"
            }
          ]
        }
      },
      "id": "7115ef7a-a799-4edf-90c7-743540012722",
      "name": "Buscar Categoria (UPDATE)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [0, 176],
      "credentials": {
        "supabaseApi": {
          "id": "Q8FUTrO3QSkHxr8B",
          "name": "Supabase Cloude - Nome Magnético"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://suporte.studiomlk.com.br/api/v1/accounts/1/portals/nome-magnetico/articles/{{ $node[\"Webhook (Supabase)\"].json.body.record.chatwoot_article_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "8FsqBLpvNJhZZ73XXiad2XvK"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": {{ JSON.stringify($node[\"Webhook (Supabase)\"].json.body.record.question) }},\n  \"content\": {{ JSON.stringify($node[\"Webhook (Supabase)\"].json.body.record.answer_markdown) }},\n  \"category_id\": {{ Number($json.chatwoot_category_id) || null }},\n  \"author_id\": 1,\n  \"status\": \"published\",\n  \"meta\": {\n    \"title\": {{ JSON.stringify($node[\"Webhook (Supabase)\"].json.body.record.meta_title || $node[\"Webhook (Supabase)\"].json.body.record.question) }},\n    \"description\": {{ JSON.stringify($node[\"Webhook (Supabase)\"].json.body.record.meta_description || '') }},\n    \"tags\": {{ JSON.stringify($node[\"Webhook (Supabase)\"].json.body.record.meta_tags || []) }}\n  }\n}",
        "options": {}
      },
      "id": "c06ea93c-7324-49a3-8898-5e2124286bff",
      "name": "Atualizar Artigo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [256, 176]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://suporte.studiomlk.com.br/api/v1/accounts/1/portals/nome-magnetico/articles/{{ $node[\"Webhook (Supabase)\"].json.body.old_record.chatwoot_article_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "8FsqBLpvNJhZZ73XXiad2XvK"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "fullResponse": false
            }
          }
        }
      },
      "id": "68f708b6-fece-4389-82c4-eba85ee53a43",
      "name": "Excluir Artigo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [0, 448]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (Supabase)": {
      "main": [
        [{ "node": "Tipo de Evento", "type": "main", "index": 0 }]
      ]
    },
    "Tipo de Evento": {
      "main": [
        [{ "node": "Buscar Categoria (INSERT)", "type": "main", "index": 0 }],
        [{ "node": "Buscar Categoria (UPDATE)", "type": "main", "index": 0 }],
        [{ "node": "Excluir Artigo",            "type": "main", "index": 0 }]
      ]
    },
    "Buscar Categoria (INSERT)": {
      "main": [
        [{ "node": "Criar Artigo", "type": "main", "index": 0 }]
      ]
    },
    "Criar Artigo": {
      "main": [
        [{ "node": "Salvar ID Chatwoot", "type": "main", "index": 0 }]
      ]
    },
    "Buscar Categoria (UPDATE)": {
      "main": [
        [{ "node": "Atualizar Artigo", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "66e9ca90-5d12-4658-8cc6-dad7abcafd97",
  "meta": {
    "instanceId": "23eff0a49bd119e4a18afa8c0c7575eefe279312d40ead3f0f9b4dd1a181437f"
  },
  "id": "m0OzHgEqFIH3mEnv",
  "tags": []
}
