n8n_workflows/workflow-sync-suporte-tickets-chatwoot
{
    "name": "Nome Magnético - Sync Suporte Tickets Supabase -> Chatwoot",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "sync-suporte-tickets",
                "options": {}
            },
            "id": "t1a2b3c4-d5e6-7890-abcd-ef1234560001",
            "name": "Webhook (Supabase)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [-240, 400],
            "webhookId": "sync-suporte-tickets"
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.body.type }}",
                "rules": {
                    "rules": [
                        { "value2": "INSERT" },
                        { "value2": "UPDATE", "output": 1 },
                        { "value2": "DELETE", "output": 2 }
                    ]
                }
            },
            "id": "t1a2b3c4-d5e6-7890-abcd-ef1234560002",
            "name": "Tipo de Evento",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [0, 400]
        },
        {
            "parameters": {
                "jsCode": "// Apenas lógica: extrai dados e calcula labels. Sem chamadas HTTP.\nconst record = $node['Webhook (Supabase)'].json.body.record;\n\nconst LABEL_MAP = {\n  'Bug':                           'nm-bug',\n  'Sugestão':                      'nm-sugestao',\n  'Primeiros Passos':              'nm-primeiros-passos',\n  'Assinatura e Planos':           'nm-assinaturas-e-planos',\n  'Conta e Segurança':             'nm-conta-e-seguranca',\n  'Solução de Problemas':          'nm-solucao-de-problemas',\n  'Dúvida sobre os planos':        'nm-duvida-sobre-planos',\n  'Como funciona a numerologia':   'nm-como-funciona',\n  'Informações gerais':            'nm-informacoes-gerais',\n  'Parceria ou imprensa':          'nm-parceria',\n  'Outros':                        'nm-outros',\n};\n\nconst labels = [];\nif (LABEL_MAP[record.subject]) labels.push(LABEL_MAP[record.subject]);\nif (record.priority === 'urgent') labels.push('nm-vip');\nif (record.priority === 'normal') labels.push('nm-usuario');\nif (record.priority === 'low') labels.push('nm-visitante');\n\nreturn [{ json: {\n  email:     record.contact_email || 'visitante@nomemagnetico.com.br',\n  name:      record.contact_name  || 'Visitante',\n  subject:   record.subject,\n  priority:  record.priority,\n  ticket_id: record.id,\n  labels,\n} }];"
            },
            "id": "t1a2b3c4-d5e6-7890-abcd-ef1234560003",
            "name": "Preparar Dados",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [256, 160]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://suporte.studiomlk.com.br/api/v1/accounts/1/contacts/search?q={{ encodeURIComponent($json.email) }}&include_contacts=true",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        { "name": "api_access_token", "value": "8FsqBLpvNJhZZ73XXiad2XvK" },
                        { "name": "Content-Type", "value": "application/json" }
                    ]
                },
                "options": {}
            },
            "id": "t1a2b3c4-d5e6-7890-abcd-ef1234560011",
            "name": "Buscar Contato",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [512, 160]
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $json.payload ? $json.payload.length : 0 }}",
                            "operation": "larger",
                            "value2": 0
                        }
                    ]
                }
            },
            "id": "t1a2b3c4-d5e6-7890-abcd-ef1234560012",
            "name": "Contato Existe?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [768, 160]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://suporte.studiomlk.com.br/api/v1/accounts/1/contacts",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        { "name": "api_access_token", "value": "8FsqBLpvNJhZZ73XXiad2XvK" },
                        { "name": "Content-Type", "value": "application/json" }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"email\": {{ JSON.stringify($node['Preparar Dados'].json.email) }},\n  \"name\":  {{ JSON.stringify($node['Preparar Dados'].json.name) }}\n}",
                "options": {}
            },
            "id": "t1a2b3c4-d5e6-7890-abcd-ef1234560013",
            "name": "Criar Contato",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [1024, 260]
        },
        {
            "parameters": {
                "jsCode": "// Extrai contact_id de qualquer caminho (encontrado ou criado)\n// e repassa o nome do ticket para atualização no Chatwoot\nconst input = $input.first().json;\nconst name = $node['Preparar Dados'].json.name;\n\n// Caminho 'encontrado': payload[]\nif (input.payload && input.payload.length > 0) {\n  return [{ json: { chatwoot_contact_id: input.payload[0].id, contact_name: name } }];\n}\n// Caminho 'criado': id direto\nif (input.id) {\n  return [{ json: { chatwoot_contact_id: input.id, contact_name: name } }];\n}\nthrow new Error('Não foi possível obter contact_id do Chatwoot');"
            },
            "id": "t1a2b3c4-d5e6-7890-abcd-ef1234560014",
            "name": "Extrair Contact ID",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [1280, 160]
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://suporte.studiomlk.com.br/api/v1/accounts/1/contacts/{{ $json.chatwoot_contact_id }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        { "name": "api_access_token", "value": "8FsqBLpvNJhZZ73XXiad2XvK" },
                        { "name": "Content-Type", "value": "application/json" }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"name\": {{ JSON.stringify($json.contact_name) }}\n}",
                "options": {}
            },
            "id": "t1a2b3c4-d5e6-7890-abcd-ef1234560015",
            "name": "Atualizar Nome Contato",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [1536, 160]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://suporte.studiomlk.com.br/api/v1/accounts/1/conversations",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        { "name": "api_access_token", "value": "8FsqBLpvNJhZZ73XXiad2XvK" },
                        { "name": "Content-Type", "value": "application/json" }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"inbox_id\":   2,\n  \"contact_id\": {{ $node['Extrair Contact ID'].json.chatwoot_contact_id }},\n  \"priority\":   {{ JSON.stringify($node['Webhook (Supabase)'].json.body.record.priority === 'urgent' ? 'urgent' : 'medium') }},\n  \"additional_attributes\": {\n    \"assunto\":   {{ JSON.stringify($node['Webhook (Supabase)'].json.body.record.subject) }},\n    \"ticket_id\": {{ JSON.stringify($node['Webhook (Supabase)'].json.body.record.id) }}\n  }\n}",
                "options": {}
            },
            "id": "t1a2b3c4-d5e6-7890-abcd-ef1234560004",
            "name": "Criar Conversa",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [1792, 160]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://suporte.studiomlk.com.br/api/v1/accounts/1/conversations/{{ $json.id }}/labels",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        { "name": "api_access_token", "value": "8FsqBLpvNJhZZ73XXiad2XvK" },
                        { "name": "Content-Type", "value": "application/json" }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"labels\": {{ JSON.stringify($node['Preparar Dados'].json.labels) }}\n}",
                "options": {}
            },
            "id": "t1a2b3c4-d5e6-7890-abcd-ef1234560005",
            "name": "Aplicar Labels",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [2048, 160]
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "support_tickets",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "condition": "eq",
                            "keyValue": "={{ $node['Webhook (Supabase)'].json.body.record.id }}"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "chatwoot_conversation_id",
                            "fieldValue": "={{ $node['Criar Conversa'].json.id }}"
                        }
                    ]
                }
            },
            "id": "t1a2b3c4-d5e6-7890-abcd-ef1234560006",
            "name": "Salvar Conv ID no Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [2304, 160],
            "credentials": {
                "supabaseApi": {
                    "id": "Q8FUTrO3QSkHxr8B",
                    "name": "Supabase Cloude - Nome Magnético"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.body.record.status }}",
                            "operation": "equal",
                            "value2": "resolved"
                        },
                        {
                            "value1": "={{ $json.body.old_record ? $json.body.old_record.status : '' }}",
                            "operation": "notEqual",
                            "value2": "resolved"
                        },
                        {
                            "value1": "={{ $json.body.record.chatwoot_conversation_id }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                },
                "combineOperation": "all"
            },
            "id": "t1a2b3c4-d5e6-7890-abcd-ef1234560007",
            "name": "Ticket Resolvido?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [256, 620]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://suporte.studiomlk.com.br/api/v1/accounts/1/conversations/{{ $json.body.record.chatwoot_conversation_id }}/toggle_status",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        { "name": "api_access_token", "value": "8FsqBLpvNJhZZ73XXiad2XvK" },
                        { "name": "Content-Type", "value": "application/json" }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\n  \"status\": \"resolved\"\n}",
                "options": {}
            },
            "id": "t1a2b3c4-d5e6-7890-abcd-ef1234560008",
            "name": "Resolver Conversa",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [512, 540]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.body.old_record && $json.body.old_record.chatwoot_conversation_id ? $json.body.old_record.chatwoot_conversation_id : '' }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "id": "t1a2b3c4-d5e6-7890-abcd-ef1234560009",
            "name": "Tem Conv ID? (Delete)",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [256, 820]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://suporte.studiomlk.com.br/api/v1/accounts/1/conversations/{{ $json.body.old_record.chatwoot_conversation_id }}/toggle_status",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        { "name": "api_access_token", "value": "8FsqBLpvNJhZZ73XXiad2XvK" },
                        { "name": "Content-Type", "value": "application/json" }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\n  \"status\": \"resolved\"\n}",
                "options": {}
            },
            "id": "t1a2b3c4-d5e6-7890-abcd-ef1234560010",
            "name": "Arquivar Conversa (Delete)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [512, 820]
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook (Supabase)": {
            "main": [[{ "node": "Tipo de Evento", "type": "main", "index": 0 }]]
        },
        "Tipo de Evento": {
            "main": [
                [{ "node": "Preparar Dados",        "type": "main", "index": 0 }],
                [{ "node": "Ticket Resolvido?",      "type": "main", "index": 0 }],
                [{ "node": "Tem Conv ID? (Delete)",  "type": "main", "index": 0 }]
            ]
        },
        "Preparar Dados": {
            "main": [[{ "node": "Buscar Contato", "type": "main", "index": 0 }]]
        },
        "Buscar Contato": {
            "main": [[{ "node": "Contato Existe?", "type": "main", "index": 0 }]]
        },
        "Contato Existe?": {
            "main": [
                [{ "node": "Extrair Contact ID", "type": "main", "index": 0 }],
                [{ "node": "Criar Contato",       "type": "main", "index": 0 }]
            ]
        },
        "Criar Contato": {
            "main": [[{ "node": "Extrair Contact ID", "type": "main", "index": 0 }]]
        },
        "Extrair Contact ID": {
            "main": [[{ "node": "Atualizar Nome Contato", "type": "main", "index": 0 }]]
        },
        "Atualizar Nome Contato": {
            "main": [[{ "node": "Criar Conversa", "type": "main", "index": 0 }]]
        },
        "Criar Conversa": {
            "main": [[{ "node": "Aplicar Labels", "type": "main", "index": 0 }]]
        },
        "Aplicar Labels": {
            "main": [[{ "node": "Salvar Conv ID no Supabase", "type": "main", "index": 0 }]]
        },
        "Ticket Resolvido?": {
            "main": [
                [{ "node": "Resolver Conversa", "type": "main", "index": 0 }],
                []
            ]
        },
        "Tem Conv ID? (Delete)": {
            "main": [
                [{ "node": "Arquivar Conversa (Delete)", "type": "main", "index": 0 }],
                []
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false
    },
    "versionId": "bf95a043-d62e-4f85-e47a-30hi2i874236",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "23eff0a49bd119e4a18afa8c0c7575eefe279312d40ead3f0f9b4dd1a181437f"
    },
    "id": "suporte-tickets-sync-v1",
    "tags": []
}
