n8n_workflows/workflow-suporte-formulario-chatwoot
{
  "name": "Nome Magnético - Suporte: Formulário → Chatwoot + Lead + Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "suport-formulario-nm",
        "options": {}
      },
      "id": "wh-suporte",
      "name": "Webhook Formulário",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-900, 300],
      "webhookId": "suport-formulario-nm"
    },
    {
      "parameters": {
        "jsCode": "// Normaliza dados do formulário, mapeia labels e prepara conteúdos\nconst body = $json.body || $json;\n\nconst nome     = body.nome     || body.email?.split('@')[0] || 'Usuário';\nconst email    = body.email    || '';\nconst assunto  = body.assunto  || 'Outros';\nconst mensagem = body.mensagem || '';\nconst origem   = body.origem   || 'publico';\nconst userId   = body.user_id  || null;\nconst ts       = body.timestamp || new Date().toISOString();\n\n// Mapeamento assunto → label Chatwoot\n// Crie essas labels em: Chatwoot → Configurações → Labels\nconst labelMap = {\n  // PublicContactForm\n  'Dúvida sobre os planos':       'planos',\n  'Como funciona a numerologia':  'numerologia',\n  'Informações gerais':           'geral',\n  'Parceria ou imprensa':         'parceria',\n  'Outros':                       'outros',\n  // SupportForm (app)\n  'Bug':                          'bug',\n  'Sugestão':                     'sugestao',\n  'Primeiros Passos':             'primeiros-passos',\n  'Assinatura e Planos':          'assinatura',\n  'Conta e Segurança':            'conta',\n  'Solução de Problemas':         'suporte',\n};\n\nconst assuntoLabel = labelMap[assunto] || 'outros';\nconst origemLabel  = origem === 'app' ? 'usuario-app' : 'site-publico';\n\n// Mensagem formatada para o Chatwoot (aparece como primeira msg da conversa)\nconst dataHora = new Date(ts).toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' });\nconst mensagemChatwoot = [\n  `📋 *Assunto:* ${assunto}`,\n  `🌐 *Origem:* ${origem === 'app' ? 'Área do cliente' : 'Site público'}`,\n  userId ? `👤 *User ID:* ${userId}` : null,\n  `📅 *Enviado em:* ${dataHora}`,\n  ``,\n  mensagem\n].filter(Boolean).join('\\n');\n\n// Email HTML de confirmação para o usuário\nconst emailHtml = `\n<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"></head>\n<body style=\"margin:0;padding:0;background:#0f0f0f;font-family:Arial,sans-serif;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#0f0f0f;padding:40px 20px;\">\n    <tr><td align=\"center\">\n      <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#1a1a1a;border-radius:12px;overflow:hidden;border:1px solid rgba(212,175,55,0.2);\">\n        <!-- Header -->\n        <tr><td style=\"background:linear-gradient(135deg,#1a1a1a 0%,#111 100%);padding:40px 40px 30px;text-align:center;border-bottom:1px solid rgba(212,175,55,0.2);\">\n          <h1 style=\"margin:0;color:#D4AF37;font-size:28px;letter-spacing:2px;\">NOME MAGNÉTICO</h1>\n          <p style=\"margin:8px 0 0;color:#a0a0a0;font-size:14px;\">Central de Suporte</p>\n        </td></tr>\n        <!-- Body -->\n        <tr><td style=\"padding:40px;\">\n          <p style=\"color:#e5e7eb;font-size:16px;margin:0 0 20px;\">Olá, <strong style=\"color:#D4AF37;\">${nome}</strong>!</p>\n          <p style=\"color:#a0a0a0;font-size:15px;line-height:1.6;margin:0 0 24px;\">Recebemos sua mensagem e nossa equipe de suporte irá analisá-la em breve.</p>\n          <!-- Assunto Box -->\n          <div style=\"background:#111;border-left:3px solid #D4AF37;border-radius:4px;padding:16px 20px;margin:0 0 24px;\">\n            <p style=\"margin:0;color:#a0a0a0;font-size:12px;text-transform:uppercase;letter-spacing:1px;\">Assunto recebido</p>\n            <p style=\"margin:4px 0 0;color:#e5e7eb;font-size:15px;font-weight:bold;\">${assunto}</p>\n          </div>\n          <p style=\"color:#a0a0a0;font-size:15px;line-height:1.6;margin:0 0 32px;\">Você receberá nossa resposta em até <strong style=\"color:#e5e7eb;\">24 horas úteis</strong>. Para acompanhar, basta responder este email.</p>\n          <p style=\"color:#e5e7eb;font-size:14px;margin:0;\">Atenciosamente,<br><strong style=\"color:#D4AF37;\">Equipe Nome Magnético</strong></p>\n        </td></tr>\n        <!-- Footer -->\n        <tr><td style=\"padding:20px 40px;border-top:1px solid #2a2a2a;text-align:center;\">\n          <p style=\"margin:0;color:#555;font-size:12px;\">suporte@nomemagnetico.com.br</p>\n        </td></tr>\n      </table>\n    </td></tr>\n  </table>\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    nome, email, assunto, mensagem, mensagemChatwoot,\n    emailHtml, origem, userId,\n    labels: [assuntoLabel, origemLabel]\n  }\n}];"
      },
      "id": "code-preparar",
      "name": "Preparar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-660, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "email",   "fieldValue": "={{ $json.email }}" },
            { "fieldId": "nome",    "fieldValue": "={{ $json.nome }}" },
            { "fieldId": "saas",    "fieldValue": "nome-magnetico" },
            { "fieldId": "assunto", "fieldValue": "={{ $json.assunto }}" },
            { "fieldId": "origem",  "fieldValue": "={{ $json.origem }}" }
          ]
        }
      },
      "id": "sup-lead",
      "name": "Salvar Lead",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-420, 300],
      "continueOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "Q8FUTrO3QSkHxr8B",
          "name": "Supabase Cloude - Nome Magnético"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Busca contato no Chatwoot por email; cria se não existir\n// Sempre referencia 'Preparar Dados' para ignorar possível erro em 'Salvar Lead'\nconst dados = $('Preparar Dados').item.json;\n\nconst BASE  = 'https://suporte.studiomlk.com.br/api/v1/accounts/1';\nconst TOKEN = '8FsqBLpvNJhZZ73XXiad2XvK';\nconst headers = {\n  'api_access_token': TOKEN,\n  'Content-Type': 'application/json'\n};\n\n// 1. Buscar contato existente pelo email\nconst searchRes  = await fetch(\n  `${BASE}/contacts/search?q=${encodeURIComponent(dados.email)}&include_contacts=true`,\n  { headers }\n);\nconst searchData = await searchRes.json();\n\nconst contacts = searchData.payload?.contacts ?? [];\nconst match    = contacts.find(c => c.email === dados.email);\n\nlet contactId;\nif (match) {\n  // Contato já existe — reutiliza para manter histórico unificado\n  contactId = match.id;\n} else {\n  // Cria novo contato no Chatwoot\n  const createRes  = await fetch(`${BASE}/contacts`, {\n    method: 'POST',\n    headers,\n    body: JSON.stringify({ name: dados.nome, email: dados.email })\n  });\n  const createData = await createRes.json();\n  contactId = createData.id;\n}\n\nreturn [{ json: { ...dados, contact_id: contactId, inbox_id: 2 } }];"
      },
      "id": "code-contato",
      "name": "Buscar ou Criar Contato",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-180, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://suporte.studiomlk.com.br/api/v1/accounts/1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api_access_token", "value": "8FsqBLpvNJhZZ73XXiad2XvK" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inbox_id\": {{ $json.inbox_id }},\n  \"contact_id\": {{ $json.contact_id }},\n  \"additional_attributes\": {\n    \"assunto\": {{ JSON.stringify($json.assunto) }},\n    \"origem\": {{ JSON.stringify($json.origem) }}\n  }\n}",
        "options": {}
      },
      "id": "http-conversa",
      "name": "Criar Conversa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [60, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://suporte.studiomlk.com.br/api/v1/accounts/1/conversations/{{ $json.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api_access_token", "value": "8FsqBLpvNJhZZ73XXiad2XvK" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($node[\"Buscar ou Criar Contato\"].json.mensagemChatwoot) }},\n  \"message_type\": \"incoming\",\n  \"private\": false\n}",
        "options": {}
      },
      "id": "http-mensagem",
      "name": "Enviar Mensagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [300, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://suporte.studiomlk.com.br/api/v1/accounts/1/conversations/{{ $node[\"Criar Conversa\"].json.id }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api_access_token", "value": "8FsqBLpvNJhZZ73XXiad2XvK" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"labels\": {{ JSON.stringify($node[\"Buscar ou Criar Contato\"].json.labels) }}\n}",
        "options": {}
      },
      "id": "http-labels",
      "name": "Adicionar Labels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [540, 300]
    },
    {
      "parameters": {
        "fromEmail": "suporte@nomemagnetico.com.br",
        "toEmail": "={{ $node[\"Preparar Dados\"].json.email }}",
        "subject": "=Recebemos sua solicitação — Nome Magnético",
        "emailType": "html",
        "message": "={{ $node[\"Preparar Dados\"].json.emailHtml }}",
        "options": {}
      },
      "id": "email-confirmacao",
      "name": "Email de Confirmação",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [780, 300],
      "credentials": {
        "smtp": {
          "id": "",
          "name": "Amazon SES — Nome Magnético"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Formulário": {
      "main": [[{ "node": "Preparar Dados", "type": "main", "index": 0 }]]
    },
    "Preparar Dados": {
      "main": [[{ "node": "Salvar Lead", "type": "main", "index": 0 }]]
    },
    "Salvar Lead": {
      "main": [[{ "node": "Buscar ou Criar Contato", "type": "main", "index": 0 }]]
    },
    "Buscar ou Criar Contato": {
      "main": [[{ "node": "Criar Conversa", "type": "main", "index": 0 }]]
    },
    "Criar Conversa": {
      "main": [[{ "node": "Enviar Mensagem", "type": "main", "index": 0 }]]
    },
    "Enviar Mensagem": {
      "main": [[{ "node": "Adicionar Labels", "type": "main", "index": 0 }]]
    },
    "Adicionar Labels": {
      "main": [[{ "node": "Email de Confirmação", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "",
  "tags": []
}
