n8n_workflows/workflow-sync-suporte-tickets-chatwoot
{
    "name": "Nome Magnético - Sync Suporte Tickets Supabase -> Chatwoot",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "sync-suporte-tickets",
                "options": {}
            },
            "id": "t1a2b3c4-d5e6-7890-abcd-ef1234560001",
            "name": "Webhook (Supabase)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [-240, 400],
            "webhookId": "sync-suporte-tickets"
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.body.type }}",
                "rules": {
                    "rules": [
                        { "value2": "INSERT" },
                        { "value2": "UPDATE", "output": 1 },
                        { "value2": "DELETE", "output": 2 }
                    ]
                }
            },
            "id": "t1a2b3c4-d5e6-7890-abcd-ef1234560002",
            "name": "Tipo de Evento",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [0, 400]
        },
        {
            "parameters": {
                "jsCode": "// Busca contato existente no Chatwoot por email; cria se não encontrar.\n// Também calcula as labels corretas com base no assunto (subject).\n// Retorna: { chatwoot_contact_id: number, labels: string[] }\n\nconst record = $node['Webhook (Supabase)'].json.body.record;\nconst email  = record.contact_email || 'visitante@nomemagnetico.com.br';\nconst name   = record.contact_name  || 'Visitante';\nconst TOKEN  = '8FsqBLpvNJhZZ73XXiad2XvK';\nconst BASE   = 'https://suporte.studiomlk.com.br/api/v1/accounts/1';\n\n// Mapeamento assunto → label (etiquetas já criadas no Chatwoot)\nconst LABEL_MAP = {\n  'Bug':                           'nm-bug',\n  'Sugestão':                      'nm-sugestao',\n  'Primeiros Passos':              'nm-primeiros-passos',\n  'Assinatura e Planos':           'nm-assinaturas-e-planos',\n  'Conta e Segurança':             'nm-conta-e-seguranca',\n  'Solução de Problemas':          'nm-solucao-de-problemas',\n  'Dúvida sobre os planos':        'nm-duvida-sobre-planos',\n  'Como funciona a numerologia':   'nm-como-funciona',\n  'Informações gerais':            'nm-informacoes-gerais',\n  'Parceria ou imprensa':          'nm-parceria',\n  'Outros':                        'nm-outros',\n};\n\nconst labels = [];\nconst subjectLabel = LABEL_MAP[record.subject];\nif (subjectLabel) labels.push(subjectLabel);\nif (record.priority === 'urgent') labels.push('nm-vip');\n\n// 1. Buscar contato\nconst searchRes  = await fetch(`${BASE}/contacts/search?q=${encodeURIComponent(email)}&include_contacts=true&api_access_token=${TOKEN}`);\nconst searchData = await searchRes.json();\n\nlet contactId;\nif (Array.isArray(searchData.payload) && searchData.payload.length > 0) {\n  contactId = searchData.payload[0].id;\n} else {\n  // 2. Criar contato\n  const createRes  = await fetch(`${BASE}/contacts?api_access_token=${TOKEN}`, {\n    method:  'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body:    JSON.stringify({ email, name })\n  });\n  const createData = await createRes.json();\n  contactId = createData.id;\n}\n\nreturn [{ json: { chatwoot_contact_id: contactId, labels } }];"
            },
            "id": "t1a2b3c4-d5e6-7890-abcd-ef1234560003",
            "name": "Buscar ou Criar Contato",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [256, 160]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://suporte.studiomlk.com.br/api/v1/accounts/1/conversations?api_access_token=8FsqBLpvNJhZZ73XXiad2XvK",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        { "name": "Content-Type", "value": "application/json" }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"inbox_id\": 1,\n  \"contact_id\": {{ $json.chatwoot_contact_id }},\n  \"priority\": {{ JSON.stringify($node['Webhook (Supabase)'].json.body.record.priority === 'urgent' ? 'urgent' : 'medium') }},\n  \"additional_attributes\": {\n    \"assunto\": {{ JSON.stringify($node['Webhook (Supabase)'].json.body.record.subject) }},\n    \"ticket_id\": {{ JSON.stringify($node['Webhook (Supabase)'].json.body.record.id) }}\n  }\n}",
                "options": {}
            },
            "id": "t1a2b3c4-d5e6-7890-abcd-ef1234560004",
            "name": "Criar Conversa",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [512, 160]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://suporte.studiomlk.com.br/api/v1/accounts/1/conversations/{{ $json.id }}/labels?api_access_token=8FsqBLpvNJhZZ73XXiad2XvK",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        { "name": "Content-Type", "value": "application/json" }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"labels\": {{ JSON.stringify($node['Buscar ou Criar Contato'].json.labels) }}\n}",
                "options": {}
            },
            "id": "t1a2b3c4-d5e6-7890-abcd-ef1234560005",
            "name": "Aplicar Labels",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [768, 160]
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "support_tickets",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "condition": "eq",
                            "keyValue": "={{ $node['Webhook (Supabase)'].json.body.record.id }}"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "chatwoot_conversation_id",
                            "fieldValue": "={{ $node['Criar Conversa'].json.id }}"
                        }
                    ]
                }
            },
            "id": "t1a2b3c4-d5e6-7890-abcd-ef1234560006",
            "name": "Salvar Conv ID no Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [1024, 160],
            "credentials": {
                "supabaseApi": {
                    "id": "Q8FUTrO3QSkHxr8B",
                    "name": "Supabase Cloude - Nome Magnético"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.body.record.status }}",
                            "operation": "equal",
                            "value2": "resolved"
                        },
                        {
                            "value1": "={{ $json.body.record.chatwoot_conversation_id }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                },
                "combineOperation": "all"
            },
            "id": "t1a2b3c4-d5e6-7890-abcd-ef1234560007",
            "name": "Ticket Resolvido?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [256, 620]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://suporte.studiomlk.com.br/api/v1/accounts/1/conversations/{{ $json.body.record.chatwoot_conversation_id }}/toggle_status?api_access_token=8FsqBLpvNJhZZ73XXiad2XvK",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        { "name": "Content-Type", "value": "application/json" }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\n  \"status\": \"resolved\"\n}",
                "options": {}
            },
            "id": "t1a2b3c4-d5e6-7890-abcd-ef1234560008",
            "name": "Resolver Conversa",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [512, 540]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.body.old_record && $json.body.old_record.chatwoot_conversation_id ? $json.body.old_record.chatwoot_conversation_id : '' }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "id": "t1a2b3c4-d5e6-7890-abcd-ef1234560009",
            "name": "Tem Conv ID? (Delete)",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [256, 820]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://suporte.studiomlk.com.br/api/v1/accounts/1/conversations/{{ $json.body.old_record.chatwoot_conversation_id }}/toggle_status?api_access_token=8FsqBLpvNJhZZ73XXiad2XvK",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        { "name": "Content-Type", "value": "application/json" }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\n  \"status\": \"resolved\"\n}",
                "options": {}
            },
            "id": "t1a2b3c4-d5e6-7890-abcd-ef1234560010",
            "name": "Arquivar Conversa (Delete)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [512, 820]
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook (Supabase)": {
            "main": [[{ "node": "Tipo de Evento", "type": "main", "index": 0 }]]
        },
        "Tipo de Evento": {
            "main": [
                [{ "node": "Buscar ou Criar Contato",  "type": "main", "index": 0 }],
                [{ "node": "Ticket Resolvido?",         "type": "main", "index": 0 }],
                [{ "node": "Tem Conv ID? (Delete)",     "type": "main", "index": 0 }]
            ]
        },
        "Buscar ou Criar Contato": {
            "main": [[{ "node": "Criar Conversa", "type": "main", "index": 0 }]]
        },
        "Criar Conversa": {
            "main": [[{ "node": "Aplicar Labels", "type": "main", "index": 0 }]]
        },
        "Aplicar Labels": {
            "main": [[{ "node": "Salvar Conv ID no Supabase", "type": "main", "index": 0 }]]
        },
        "Ticket Resolvido?": {
            "main": [
                [{ "node": "Resolver Conversa", "type": "main", "index": 0 }],
                []
            ]
        },
        "Tem Conv ID? (Delete)": {
            "main": [
                [{ "node": "Arquivar Conversa (Delete)", "type": "main", "index": 0 }],
                []
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false
    },
    "versionId": "7bc84f21-a39d-4e52-b167-93dc0e541902",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "23eff0a49bd119e4a18afa8c0c7575eefe279312d40ead3f0f9b4dd1a181437f"
    },
    "id": "suporte-tickets-sync-v1",
    "tags": []
}
